<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuyue.mapper.RuleListMapper">
    <resultMap id="BaseResultMap" type="com.wuyue.model.entity.RuleList">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="level" jdbcType="CHAR" property="level"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.wuyue.model.entity.RuleList">
        <result column="description" jdbcType="LONGVARCHAR" property="description"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, name, status, level, create_time, is_delete
    </sql>
    <sql id="Blob_Column_List">
        description
    </sql>
    <select id="selectByExampleWithBLOBs" parameterType="com.wuyue.model.entity.RuleListExample"
            resultMap="ResultMapWithBLOBs">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from rule_list
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" parameterType="com.wuyue.model.entity.RuleListExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from rule_list
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from rule_list
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from rule_list
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.wuyue.model.entity.RuleListExample">
        delete from rule_list
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.wuyue.model.entity.RuleList" useGeneratedKeys="true" keyColumn="id"
            keyProperty="id">
        insert into rule_list (id, name, status,
                               level, create_time, is_delete,
                               description)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=CHAR},
                #{level,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIT},
                #{description,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.wuyue.model.entity.RuleList">
        insert into rule_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="description != null">
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=BIT},
            </if>
            <if test="description != null">
                #{description,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.wuyue.model.entity.RuleListExample" resultType="java.lang.Long">
        select count(*) from rule_list
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>


    <resultMap id="voRule" type="com.wuyue.model.vo.Rule">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="status" column="status"/>
        <result property="level" column="level"/>
        <result property="description" column="description"/>
        <result property="createTime" column="createTime"/>
        <result property="lastTriggerTime" column="lastTriggerName"/>
        <collection property="conditions" ofType="com.wuyue.model.entity.Conditions">
            <id property="id" column="conditions.id"/>
            <result property="param" column="conditions.param"/>
            <result property="symbol" column="conditions.symbol"/>
            <result property="data" column="conditions.data"/>
            <result property="ruleId" column="conditions.ruleId"/>
        </collection>
        <collection property="contacts" columnPrefix="contacts_" ofType="com.wuyue.model.entity.Contact">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="phone" column="phone"/>
            <result property="email" column="email"/>
        </collection>
    </resultMap>

    <select id="selectAllRuleData" resultMap="voRule">
        select r.id                "id",
               r.name              "name",
               r.status            "status",
               r.level             "level",
               r.description       "description",
               r.create_time       "createTime",
               w.last_trigger_time "lastTriggerName",
               c.id                "conditions.id",
               c.param             "conditions.param",
               c.symbol            "conditions.symbol",
               c.data              "conditions.data",
               c.rule_id           "conditions.ruleId",
               co.id               "contacts_id",
               co.name             "contacts_name",
               co.phone            "contacts_phone",
               co.email            "contacts_email"
        from capteur.rule_list r
                 left join capteur.warn_list w
                           on r.id = w.rule_id
                 left join capteur.conditions c
                           on c.rule_id = r.id
                 left join capteur.contact_rule cr
                           on r.id = cr.rule_id
                 left join capteur.contact co
                           on cr.contact_id = co.id
        where r.is_delete = false
    </select>


    <update id="updateByExampleSelective" parameterType="map">
        update rule_list
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.name != null">
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=CHAR},
            </if>
            <if test="record.level != null">
                level = #{record.level,jdbcType=CHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.isDelete != null">
                is_delete = #{record.isDelete,jdbcType=BIT},
            </if>
            <if test="record.description != null">
                description = #{record.description,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update rule_list
        set id = #{record.id,jdbcType=INTEGER},
        name = #{record.name,jdbcType=VARCHAR},
        status = #{record.status,jdbcType=CHAR},
        level = #{record.level,jdbcType=CHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        is_delete = #{record.isDelete,jdbcType=BIT},
        description = #{record.description,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update rule_list
        set id = #{record.id,jdbcType=INTEGER},
        name = #{record.name,jdbcType=VARCHAR},
        status = #{record.status,jdbcType=CHAR},
        level = #{record.level,jdbcType=CHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        is_delete = #{record.isDelete,jdbcType=BIT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.wuyue.model.entity.RuleList">
        update rule_list
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=CHAR},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=BIT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wuyue.model.entity.RuleList">
        update rule_list
        set name        = #{name,jdbcType=VARCHAR},
            status      = #{status,jdbcType=CHAR},
            level       = #{level,jdbcType=CHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            is_delete   = #{isDelete,jdbcType=BIT},
            description = #{description,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wuyue.model.entity.RuleList">
        update rule_list
        set name        = #{name,jdbcType=VARCHAR},
            status      = #{status,jdbcType=CHAR},
            level       = #{level,jdbcType=CHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            is_delete   = #{isDelete,jdbcType=BIT}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>