<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuyue.mapper.WarnListMapper">
  <resultMap id="BaseResultMap" type="com.wuyue.model.entity.WarnList">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="last_trigger_time" jdbcType="TIMESTAMP" property="lastTriggerTime" />
    <result column="recover_time" jdbcType="TIMESTAMP" property="recoverTime" />
    <result column="suppress_start_time" jdbcType="TIMESTAMP" property="suppressStartTime" />
    <result column="suppress_time" jdbcType="TIMESTAMP" property="suppressTime" />
    <result column="rule_id" jdbcType="INTEGER" property="ruleId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, status, start_time, last_trigger_time, recover_time, suppress_start_time, suppress_time, 
    rule_id
  </sql>
  <select id="selectByExample" parameterType="com.wuyue.model.entity.WarnListExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from warn_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from warn_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from warn_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wuyue.model.entity.WarnListExample">
    delete from warn_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wuyue.model.entity.WarnList">
    insert into warn_list (id, status, start_time, 
      last_trigger_time, recover_time, suppress_start_time, 
      suppress_time, rule_id)
    values (#{id,jdbcType=INTEGER}, #{status,jdbcType=CHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{lastTriggerTime,jdbcType=TIMESTAMP}, #{recoverTime,jdbcType=TIMESTAMP}, #{suppressStartTime,jdbcType=TIMESTAMP}, 
      #{suppressTime,jdbcType=TIMESTAMP}, #{ruleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wuyue.model.entity.WarnList">
    insert into warn_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="lastTriggerTime != null">
        last_trigger_time,
      </if>
      <if test="recoverTime != null">
        recover_time,
      </if>
      <if test="suppressStartTime != null">
        suppress_start_time,
      </if>
      <if test="suppressTime != null">
        suppress_time,
      </if>
      <if test="ruleId != null">
        rule_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTriggerTime != null">
        #{lastTriggerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recoverTime != null">
        #{recoverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="suppressStartTime != null">
        #{suppressStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="suppressTime != null">
        #{suppressTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ruleId != null">
        #{ruleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wuyue.model.entity.WarnListExample" resultType="java.lang.Long">
    select count(*) from warn_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update warn_list
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastTriggerTime != null">
        last_trigger_time = #{record.lastTriggerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recoverTime != null">
        recover_time = #{record.recoverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.suppressStartTime != null">
        suppress_start_time = #{record.suppressStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.suppressTime != null">
        suppress_time = #{record.suppressTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ruleId != null">
        rule_id = #{record.ruleId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update warn_list
    set id = #{record.id,jdbcType=INTEGER},
      status = #{record.status,jdbcType=CHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      last_trigger_time = #{record.lastTriggerTime,jdbcType=TIMESTAMP},
      recover_time = #{record.recoverTime,jdbcType=TIMESTAMP},
      suppress_start_time = #{record.suppressStartTime,jdbcType=TIMESTAMP},
      suppress_time = #{record.suppressTime,jdbcType=TIMESTAMP},
      rule_id = #{record.ruleId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuyue.model.entity.WarnList">
    update warn_list
    <set>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTriggerTime != null">
        last_trigger_time = #{lastTriggerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recoverTime != null">
        recover_time = #{recoverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="suppressStartTime != null">
        suppress_start_time = #{suppressStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="suppressTime != null">
        suppress_time = #{suppressTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ruleId != null">
        rule_id = #{ruleId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuyue.model.entity.WarnList">
    update warn_list
    set status = #{status,jdbcType=CHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      last_trigger_time = #{lastTriggerTime,jdbcType=TIMESTAMP},
      recover_time = #{recoverTime,jdbcType=TIMESTAMP},
      suppress_start_time = #{suppressStartTime,jdbcType=TIMESTAMP},
      suppress_time = #{suppressTime,jdbcType=TIMESTAMP},
      rule_id = #{ruleId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>