<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.wuyue.service.impl"/>

    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <aop:config>
        <aop:pointcut id="txPointcut" expression="execution(* *..*service.impl.*.*(..))"/>
        <aop:advisor advice-ref="interceptor" pointcut-ref="txPointcut"/>
    </aop:config>

    <tx:advice id="interceptor">
        <tx:attributes>
            <tx:method name="get*" rollback-for="java.lang.Exception" read-only="true"/>
            <tx:method name="find*" rollback-for="java.lang.Exception" read-only="true"/>
            <tx:method name="query*" rollback-for="java.lang.Exception" read-only="true"/>
            <tx:method name="count*" rollback-for="java.lang.Exception" read-only="true"/>
            <tx:method name="check*" rollback-for="java.lang.Exception" read-only="true"/>
            <tx:method name="valid*" rollback-for="java.lang.Exception" read-only="true"/>

            <tx:method name="save*" rollback-for="java.lang.Exception" propagation="REQUIRES_NEW"/>
            <tx:method name="update*" rollback-for="java.lang.Exception" propagation="REQUIRES_NEW"/>
            <tx:method name="remove*" rollback-for="java.lang.Exception" propagation="REQUIRES_NEW"/>
            <tx:method name="batch*" rollback-for="java.lang.Exception" propagation="REQUIRES_NEW"/>
        </tx:attributes>
    </tx:advice>

</beans>